{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name and City</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Userame </label><input type="text" name="username" value="{{ .Username }}"  /><br />
      <label> Userame </label><input type="text" name="password" value="{{ .Password }}"  /><br />
     <label> City </label><input type="text" name="age" value="{{ .Age }}"  /><br />
      <label> City </label><input type="text" name="email" value="{{ .Email }}"  /><br />
      <input type="submit" value="Save user" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}